/.github         export-ignore
/vendor          export-ignore
.editorconfig    export-ignore
/.gitignore      export-ignore
/composer.lock   export-ignore
/phpunit.xml     export-ignore
/pint.json       export-ignore
/psalm.xml       export-ignore
